{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "printWidth": 240,
    "importOrder": ["^(react/(.*)$)|^(react$)", "^(next/(.*)$)|^(next$)", "^(.*)redux(.*)$", "^@mui/(.*)$", "^(.*)tailwindcss(.*)$", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": ["*.css", "*.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
